/*================VARIABLES===============*/
:root {
  /*default theme light*/
  --bg-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --text-color: hsl(227, 75%, 14%);
  --border-shadow-color: hsl(0, 0%, 78%);
  --body-text-color: hsl(226, 11%, 37%);
  --card-bg-color: hsl(200, 60%, 99%);
  --theme-switcher-bg-color: hsl(0, 0%, 93%);
  --slider-bg-color: hsl(217, 61%, 90%);
  --slider-color: hsl(200, 60%, 99%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
  /*
     --bg-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
    --text-color: hsl(227, 75%, 14%);
    --body-text-color: hsl(226, 11%, 37%);
    --border-shadow-color: hsl(0, 0%, 78%);
    --card-bg-color: hsl(200, 60%, 99%);

  */
  /*typography*/
  --font-family: "Noto Sans", sans-serif, arial, sans-serif;
  --font-size-xm: 0.5rem;
  --font-size-sm: 0.8rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /*spacing*/
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-custom: 4rem;
  /* border radius*/
  --border-radius-sm: 0.5rem;
  --border-radius-base: 1rem;
  --border-radius-lg: 1.5rem;
  /*override for dark mode*/
}

.darkmode {
  --bg-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  --card-bg-color: hsl(226, 25%, 17%);
  --border-shadow-color: hsl(0, 0%, 78%);
  --body-text-color: hsl(0, 0%, 93%);
  --text-color: hsl(200, 60%, 99%);
  --theme-switcher-bg-color: hsl(225, 23%, 24%);
  --slider-bg-color: hsl(226, 11%, 37%);
  --slider-color: hsl(200, 60%, 99%);
}

/*================GLOBALS===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

#theme-switch {
  padding: var(--spacing-md);
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--theme-switcher-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.icon:last-child {
  display: none;
}

.darkmode .icon:first-child {
  display: none;
}

.darkmode .icon:last-child {
  display: inline;
}

body {
  background: var(--bg-gradient);
  height: 100vh;
  height: 100%;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body h1 {
  font-size: var(--font-size-xl);
}
body h1,
body h3 {
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
}
body p {
  margin: var(--spacing-xxs) 0 var(--spacing-xl) 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--body-text-color);
}

/*================MAIN STYLING===============*/
.container {
  padding: var(--spacing-lg);
  width: 90%;
}
.container header .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xxs) var(--spacing-xs);
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius-sm);
}
.container header nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
  padding: var(--spacing-xl);
}
.container header nav .nav-btns {
  display: flex;
  gap: var(--spacing-md);
}
.container header nav .nav-btns .nav-btn {
  background-color: var(--card-bg-color);
  border: none;
  box-shadow: 0px 0px var(--spacing-xxs) var(--border-shadow-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xs) var(--spacing-lg);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.container header nav .nav-btns .nav-btn:hover {
  background-color: var(--red-500);
  color: var(--card-bg-color);
  cursor: pointer;
}
.container header nav .nav-btns .nav-btn:focus {
  background-color: var(--red-500);
  color: var(--card-bg-color);
  border: 1px solid var(--red-400);
  outline: 2px solid var(--card-bg-color);
  outline-offset: -3px;
  cursor: pointer;
}
.container main .card-wrapper .card {
  background-color: var(--card-bg-color);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px var(--spacing-xxs) var(--border-shadow-color);
}
.container main .card-wrapper .card .card-items {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-lg);
}
.container main .card-wrapper .card .card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Now use the slider as the background */
  /* The circle inside the slider */
  /* Change background + move circle */
}
.container main .card-wrapper .card .card-actions .remove-btn {
  background-color: var(--card-bg-color);
  border: none;
  box-shadow: 0px 0px var(--spacing-xxs) var(--border-shadow-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xxs) var(--spacing-sm);
  font-size: var(--font-size-sm);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
}
.container main .card-wrapper .card .card-actions .remove-btn:hover {
  background-color: var(--red-500);
  color: var(--card-bg-color);
  cursor: pointer;
}
.container main .card-wrapper .card .card-actions .remove-btn:focus {
  background-color: var(--red-500);
  color: var(--card-bg-color);
  border: 1px solid var(--red-400);
  outline: 2px solid var(--card-bg-color);
  outline-offset: -3px;
  cursor: pointer;
}
.container main .card-wrapper .card .card-actions .toggleSwitch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
  cursor: pointer;
}
.container main .card-wrapper .card .card-actions .slider {
  background-color: var(--slider-bg-color);
  border-radius: var(--border-radius-lg);
  display: block;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
  position: relative;
}
.container main .card-wrapper .card .card-actions .slider::before {
  content: "";
  position: absolute;
  margin: 1px;
  width: 16px;
  height: 17px;
  background-color: var(--slider-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.container main .card-wrapper .card .card-actions .toggleSwitch .toggle-switch:checked ~ .slider {
  background-color: var(--red-400);
}
.container main .card-wrapper .card .card-actions .toggleSwitch .toggle-switch:checked ~ .slider::before {
  transform: translateX(16px);
}
.container main .card-wrapper .card input {
  display: none;
}

/*================MEDIA QUERIES===============*/
/*Base styles default mobile */
@media (width <= 480px) {
  main .card-wrapper {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: var(--spacing-md);
  }
}
/*IPads */
@media (481px <= width <= 768px) {
  main .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: var(--spacing-md);
  }
}
/*laptops*/
@media (769px <= width <= 1440px) {
  main .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: var(--spacing-md);
  }
}
/*desk tops*/
@media (width > 1440px) {
  main .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--spacing-md);
  }
}/*# sourceMappingURL=styles.css.map */