/*================Container borders===============*/

$card-border: solid 1px green;
$search-bar: solid 1px magenta;
$card-wrapper: solid 1px red;

.card {
  border: $card-border;
}

.card-wrapper {
  border: $card-wrapper;
}
/*================variables===============*/
:root {
  /*color palettes*/
  --white: #ffff;
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /*gradients*/
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  /*typography*/
  --font-family: "Noto Sans", sans-serif, arial, sans-serif;
  --font-size-base: 1rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*spacing*/
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}

$breakpoints: (
  // Extra small devices (phones, 600px and down)
  xs: 37.5rem,
  // Small devices (portrait tablets and large phones, 600px and up)
  sm: 37.5rem,
  //Medium devices (landscape tablets, 768px and up)
  md: 48rem,
  //Large devices (laptops/desktops, 992px and up),
  lg: 62rem,
  // Extra large devices (large laptops and desktops, 1200px and up)
  xl: 75rem
);

/*================global base resets===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

//typography

h1,
h3 {
  color: var(--neutral-900);
}

h1 {
  font-size: 2rem;
}

body {
  background: var(--light-gradient);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--neutral-600);
}

/*================components===============*/

.container {
  width: 60%;
  margin: 0 auto;
}

//default mobile first
.search-bar {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 0.75rem;
  margin: 2.5rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  .icon-moon {
    border: 0px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--neutral-100);
  }
}

main {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .card {
      width: 100%;
      background-color: var(--white);
      border-radius: 1rem;
      padding: 0.5rem;
    }
  }
}
